/* demo style */

body { background-color: hsl(180, 42%, 90%); }
.wrapper {
    width: 1000px;
    margin: 48px auto 0;
    padding: 24px;
    background-color: hsl(180, 78%, 42%);
}

h1 {
    color: hsl(180, 42%, 15%);
}