  /***************/
 /** layout... **/

.sSlideshow {
	display: none; /* set to display: none; and show when function is initialized. progressively enhance like a boss */
	position: relative;
	width: 100%;
	height: 300px;
	margin: 1.5em 0;
	padding: 0;
	background-color: #111;
}
	.sSlideshow ul > li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333;
		background-position: center center;
		display: none;
		z-index: 0;
		/*visibility: hidden;*/
		/*opacity: 0;*/
		/*-webkit-transition: opacity .7s ease-in-out;
		   -moz-transition: opacity .7s ease-in-out;
		    -ms-transition: opacity .7s ease-in-out;
		     -o-transition: opacity .7s ease-in-out;
		        transition: opacity .7s ease-in-out;*/
	}
.sSlideshow ol {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	height: auto;
	z-index: 13;
}
	.sSlideshow ol.top {top: 0;}
	.sSlideshow ol.bottom {bottom: 0;}
	.sSlideshow ol.left {left: 0;}
	.sSlideshow ol.right {right: 0;}
		.sSlideshow ol.top > li,
		.sSlideshow ol.bottom > li {
			float: left;
		}
		.sSlideshow ol.left,
		.sSlideshow ol.right {/* centered vertically in js */}
	.sSlideshow ol > li {
		cursor: pointer;
		display: block;
		width: 24px;
		height: 20px;
		margin: 12px;
		border-radius: 12px;
		background-color: #333; /* <IE8 hsl fallback */
		background: hsl(0, 0%, 10%);
		border-bottom: 4px hsl(0, 0%, 10%) solid;
		vertical-align: bottom;
	}
		.sSlideshow ol > li:hover {
			background-color: #666; /* <IE8 hsl fallback */
			background: hsl(0, 0%, 40%);
			border-color: hsl(0, 0%, 35%);
			box-shadow: 0 0 12px 0 hsl(0, 0%, 50%);
		}
		.sSlideshow ol > li.current {
			background-color: #999; /* <IE8 hsl fallback */
			background: hsl(0, 0%, 70%);
			border-color: hsl(0, 0%, 60%);
			box-shadow: 0 0 12px 0 hsl(0, 0%, 80%);
		}

 /** END layout... **/
/*******************/


 /*********************/
/** slide styles... **/

.sSlideshow {}
.sSlideshow p {
	position: absolute;
	bottom: 24px;
	right: 0;
	height: 37px; /* fix height, match ul.sSlideshow h1 */
	margin: 0;
	padding: 2.5%;
	width: 20%;
	z-index: 14;
	background-color: #fff; /* <IE8 hsla fallback */
	background: hsla(0, 0%, 100%, 0.9);
	color: #142147;
	box-shadow: 3px 0 12px 0 hsl(0, 0%, 60%);
}
.sSlideshow p a {
	cursor: pointer;
	text-decoration: underline;
}
	.sSlideshow p a:hover {
		text-decoration: none;
	}
.sSlideshow h1 {
	display: inline-block;
	position: absolute;
	bottom: 24px;
	left: 0;
	width: 70%;
	height: 37px; /* fix height, match ul.sSlideshow p */
	padding: 2.5%;
	margin: 0;
	background-color: #222; /* <IE8 hsla fallback */
	background: hsla(0, 0%, 0%, 0.7);
	color: #fff;
	box-shadow: 0 0 12px 0 hsl(0, 0%, 30%);
	white-space: nowrap;
	z-index: 13;
	text-shadow: none;
}
.sSlideshow .content-title {
	position: absolute;
	bottom: 24px;
	left: 0;
	width: 70%;
	max-height: 37px; /* fix height, match ul.sSlideshow p */
	padding: 18px 2.5%;
	margin: 0;
	background-color: #222; /* <IE8 hsla fallback */
	background: hsla(0, 0%, 0%, 0.7);
	color: #fff;
	box-shadow: 0 0 12px 0 hsl(0, 0%, 30%);
	z-index: 12;
}
	.sSlideshow .content-title h1 {
		margin: 0;
		padding: 0;
		white-space: nowrap;
	}

 /** END slide styles... **/
/*************************/